.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

span{
  display: inline-block;
  background-color: antiquewhite;
  padding: 10px;
  margin: 5px;
}

.chat{
  width:70%;
  height:100%;
  length:600px;
  float:right;
  background-color: skyblue;
}

.non-chat{
  width:30%;
  length:600px;
  background-color: rgb(238, 232, 230);
}
.selected{
  background-color: #4e1bdb;
}

.text-window{
  width:100%;
  height:75vh;
  overflow-y: auto;
  padding: 10px;
  background-color: rgb(228, 225, 225);
}


.bar{
  display: flex;
  align-items: center;
  width:100%;
  height: 40px;

  float:right;
  background-color: rgb(102, 136, 236);
}
.bar1{
  display: flex;
  align-items: center;
  width:100%;
  height: 40px;
  float:right;
  background-color:royalblue;
}
.send{
  width:100%;
  float:right;
  background-color: royalblue;
  padding: 0px;
}
.send input{
  width: 90%;
  height: 40px;

}
.send button{
  width: 10%;
}
.list-wrapper {
  border: 1px solid #ccc;
  margin: auto;
  width: 500px;
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.message {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  max-width: 60%;
  clear: both; /* Ensures messages don't overlap */
}

.right {
  background-color: #26bb78; /* Light green */
  float: right;
}

.left {
  background-color: #46aff0; /* Light red */
  float: left;
}


/* Add clearfix to the container to handle floating elements */
.text-window::after {
  content: "";
  display: table;
  clear: both;
}

.App-link {
  color: #61dafb;
}

/* Login Page CSS  */
.left-login{
  width:30%;
  height: 90vh;

  float:right;
  background-color: rgb(118, 147, 236);
}
.small-logo {
  width: 100px; /* Adjust width as needed */
  height: auto; /* Keep aspect ratio */
}
.left-login button{
  width: 20%;
}
.right-login {
  width: 70%;
  height: 90vh;
  float: right;

  background-size: cover; /* Ensure the image covers the entire element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

/* Register Page CSS  */
.left-register{
  width:30%;
  height: 100vh;

  float:right;
  background-size: cover; /* Ensure the image covers the entire element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
 
}

.left-register button{
  width: 20%;
}
.right-register button{
  width: 20%;
}
.right-register {
  width: 70%;
  height: 100vh;
  float: right;
  background-color: rgb(118, 147, 236);
}

.right-box {
  width: 50%;
  height: auto;
  margin-top: 5%;
  margin-left: 20%;
  float: center;
  background-color: rgb(87, 178, 194);
}

.form-label {
  font-size: 1rem;
  color: #ffffff;
}

.custom-text {
  color: #ffffff; /* Adjust the color as needed */
}

.left-align-label {
  text-align: left;
  display: block; /* Ensures that the label is displayed as a block-level element */
}

/* Home Page CSS  */
.left-home{
  width:70%;
  length:60px;
  float:right;
  background-color: royalblue;
}
.left-home button{
  width: 20%;
}
.right-home{
  width:30%;
  length:60px;
  float:right;
  background-color: red;
}



/* card home */

.card-group {
  display: flex;
  width: auto;
  flex-direction: column;
  gap: 20px;
  padding: 0px;
}

.card {
  display: flex;
  width:300px;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-bar{
  display: flex;
  width:100%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.card-right {
  display: flex;
  width:500px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-deck{
  width: 100%;
}
.profile-image {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-right: 20px;
  align-items: center;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
}

.profile-text {
  flex: 1;
  align-items: center;
}

.profile-text h1, .profile-text h5 {
  margin: 0;
  align-items: center;
}

.profile-text .title, .profile-text .card-title {
  color: grey;
  font-size: 18px;
  align-items: center;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 24px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover {
  background-color: #555;
}

.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px;
}

/* Login page caurosal */

.carousel-container {
  max-width: 400px;
  margin: 0 auto;
}

.carousel-inner img {
  width: 100%;
  height: auto;
  max-height: 400px; /* Set the desired height */
}

p.chatText {
  color: #ffffff;
}

p.NameText {
  color: #ffffff;
  margin: auto;
  font-weight: bolder;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
